[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2 = "*"
django-environ = "*"

[dev-packages]
black = "*"
pre-commit = "*"

[requires]
python_version = "3.12"

[scripts]
start = "python manage.py runserver 8000"
migrate = "python manage.py migrate"
makemigrations = "python manage.py makemigrations"
