{% include 'base.html' %}
<div class="bg-zinc-50 rounded px-4 py-4">
  <div class="flex flex-row justify-end">
    <button class="text-blue-600 underline">
      <a href="/members">All members</a>
    </button>
  </div>
  <h1 class="text-zinc-800 text-2xl font-semibold">Add a team member</h1>
  <div class="text-zinc-500 text-sm border-b pb-7">
    Set email, phone number and role.
  </div>
  <form
    class="pt-4 flex flex-col space-y-4 items-start text-sm text-zinc-600"
    method="post"
    action="{% url 'create' %}"
  >
    <legend class="text-lg font-semibold">Info</legend>
    {% csrf_token %}

    <input
      type="text"
      name="first_name"
      maxlength="30"
      required=""
      class="rounded border-zinc-300"
      placeholder="First name"
      id="id_first_name"
    />

    <input
      type="text"
      name="last_name"
      maxlength="30"
      required=""
      class="rounded border-zinc-300"
      placeholder="Last name"
      id="id_last_name"
    />

    <input
      type="email"
      name="email"
      maxlength="256"
      required=""
      class="rounded border-zinc-300"
      placeholder="Email"
      id="id_email"
    />

    <input
      type="text"
      name="phone_number"
      maxlength="50"
      required=""
      class="rounded border-zinc-300"
      placeholder="123-456-7890"
      id="id_phone_number"
    />
    <fieldset>
      <legend class="text-lg font-semibold">Role</legend>
      <div id="id_role" class="flex flex-col space-y-1">
        <label
          for="id_role_1"
          class="flex flex-row items-center space-x-5 justify-between border-b border-b-zinc-300 py-4"
        >
          <div>Regular - Can't delete members</div>
          <input
            type="radio"
            name="role"
            value="REG"
            required=""
            id="id_role_1"
          />
        </label>
        <label
          for="id_role_0"
          class="flex flex-row items-center space-x-5 justify-between border-b border-b-zinc-300 py-4"
        >
          <div>Admin - Can delete members</div>
          <input
            type="radio"
            name="role"
            value="ADM"
            required=""
            id="id_role_0"
          />
        </label>
      </div>
    </fieldset>
    <div class="pt-5 flex flex-row space-x-16">
      <button
        type="submit"
        class="rounded text-red-500 px-6 py-2 border border-zinc-300 w-24"
      >
        Delete
      </button>
      <button
        type="submit"
        class="bg-blue-700 hover:bg-blue-600 rounded text-gray-200 w-24"
      >
        Save
      </button>
    </div>
  </form>
</div>
